[Unit]
Description=ESEMOS Go App
After=network.target

[Service]
User=esemos-app
Group=esemos-app
WorkingDirectory=/opt/esemos-app
ExecStart=/opt/esemos-app/esemos-app
Restart=always
Environment=PORT=8080

[Install]
WantedBy=multi-user.target
