name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build
        run: |
          go mod tidy
          GOOS=linux GOARCH=amd64 go build -o esemos-app cmd/main.go

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: esemos-app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
